body {
    background-color: rgb(212, 211, 210);
}

.main-container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 3px solid black;
    margin-top: 100px;
    height: 430px;
    width: 630px;
    border-radius: 15px;
    box-shadow: 3px 3px 20px;
    background-image: radial-gradient(white 5%, black 95%);
}

.container {
    background-color: rgb(77, 76, 76);
    margin: auto;
    border: 3px solid black;
    height: 400px;
    width: 600px;
}

.heading {
    font-size: 40px;
    width: 405px;
    font-family: sans-serif;
    margin: auto;
    position: relative;
    top: 15px;
    color: rgb(251, 214, 7);
}

.container-2 {
    margin-top: 50px;
    display: flex;
    height: 120px;
    width: 100%;
}

.box {
    width: 33.2%;
}

.box-up {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: white;
}

.box-down {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 100%;
    height: 76px;
    background-color: white;
}

.number-input {
    height: 70px;
    width: 100%;
    font-size: 40px;
    outline: none;
    text-align: center;
    border: none;
}

/* this code will remove number arrow */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Calculate Button */
.button {
    height: 40px;
    width: 100%;
    background-color: rgb(3, 156, 3);
    font-size: 23px;
    color: white;
    border: none;
    margin-top: -1px;
}

.button:hover {
    background-color: rgb(5, 125, 5);
    font-size: 24px;
}

.button:active {
    background-color: rgb(3, 156, 3);
    font-size: 23px;
}

/* End calculate button */

.container-3 {
    width: 80%;
    height: 130px;
    margin: auto;
    position: relative;
    top: 20px;
}

.result {
    font-size: 50px;
    font-family: Arial, sans-serif;
}

h2 {
    font-family: sans-serif;
}

/* Reset Button */
.reset-btn {
    height: 30px;
    width: 40px;
    float: right;
    margin-top: -20px;
    margin-right: 8px;
    background-image: radial-gradient(white, red);
    border-radius: 45%;
    font-size: 18px;
    font-weight: bold;
    border: none;
}

.reset-btn:hover {
    cursor: pointer;
}

.reset-btn:active {
    font-size: 20px;
    border: 2px solid rgb(246, 74, 74);
}

/* End reset button */